<div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="px-0 bg-gradient sidebar" style="height: -webkit-fill-available;">
                <ul class="nav nav-pills flex-column">
                    <li class="logo-nav-item">
                        <a class="navbar-brand" href="/">
                            <img src="/assets/img/verscend_reversed_pink-v1.svg" width="145" height="32.3" alt="Verscend">
                        </a>
                    </li>
                    <li>
                        <h6 class="nav-header">Client</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">
                            <i class="batch-icon batch-icon-browser-alt"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)='changeRoute("batch")'>
                            <i class="batch-icon batch-icon-list"></i>
                            Batches
                        </a>
                    </li>
                    <li>
                        <h6 class="nav-header">Central</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)='changeRoute("system")'>
                            <i class="batch-icon batch-icon-settings"></i>
                            System
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)='changeRoute("rules")'>
                            <i class="batch-icon batch-icon-database"></i>
                            Rules
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)='changeRoute("client")'>
                            <i class="batch-icon batch-icon-user"></i>
                            Clients
                        </a>
                    </li>
                </ul>
            </nav>
           
        </div>
    <router-outlet></router-outlet>
    </div>